@font-face {
  font-family: "ServerMono";
  src:
    url("https://cdn.jsdelivr.net/gh/internet-development/www-server-mono@latest/public/fonts/ServerMono-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/internet-development/www-server-mono@latest/public/fonts/ServerMono-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/internet-development/www-server-mono@latest/public/fonts/ServerMono-Regular.otf")
      format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ServerMono";
  src:
    url("https://cdn.jsdelivr.net/gh/internet-development/www-server-mono@latest/public/fonts/ServerMono-RegularOblique.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/internet-development/www-server-mono@latest/public/fonts/ServerMono-RegularOblique.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/internet-development/www-server-mono@latest/public/fonts/ServerMono-RegularOblique.otf")
      format("opentype");
  font-weight: normal;
  font-style: oblique;
  font-display: swap;
}

:root {
  --font-sans: "Nunito", sans-serif;
  --font-mono: "ServerMono", monospace;

  --color-dark: hsl(0, 0%, 8%);
  --color-light: hsl(0, 0%, 96%);
}

html,
body {
  font-family: var(--font-sans);
  background-color: var(--color-dark);
  color: var(--color-light);
}
