:root {
  --font-sans: 'Nunito', sans-serif;
  --font-mono: 'ServerMono', monospace;

  --color-white: hsl(0, 0%, 92%);
  --color-gray-lighter: hsl(0, 0%, 82%);
  --color-gray-light: hsl(0, 0%, 68%);
  --color-gray: hsl(0, 0%, 54%);
  --color-gray-dark: hsl(0, 0%, 28%);
  --color-gray-darker: hsl(0, 0%, 17%);
  --color-black: hsl(0, 0%, 7%);
  --color-akira-red: #e12120;

  color-scheme: dark;
  --theme-bg: light-dark(var(--color-white), var(--color-black));
  --theme-border: light-dark(var(--color-gray-lighter), var(--color-gray-darker));

  --theme-text: light-dark(var(--color-black), var(--color-white));
  --theme-text-subtle: light-dark(var(--color-gray-darker), var(--color-gray-lighter));
  --theme-text-dim: light-dark(var(--color-gray-dark), var(--color-gray));

  --theme-accent: var(--color-akira-red);
  --theme-accent-light: hsl(from var(--color-akira-red) h s calc(l + 15));
  --theme-accent-dark: hsl(from var(--color-akira-red) h s calc(l - 15));
}

:root {
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

[data-theme='light'] {
  color-scheme: light;
}

[data-theme='dark'] {
  color-scheme: dark;
}

body {
  font-family: var(--font-sans);
  background-color: var(--theme-bg);
  color: var(--theme-text);
}

main {
  max-width: 64ch;
  margin: 2rem auto;
  padding: 0 1.5rem;
}

a {
  position: relative;
  color: var(--theme-text);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--theme-accent);
    text-decoration: none;
  }
}

a.list {
  display: inline-block;
  width: fit-content;
  line-height: 1.25;

  --symbol-offset: 1rem;
  padding-left: var(--symbol-offset);

  &::before {
    content: '+ ';
    color: var(--theme-accent);
    position: absolute;
    left: 0;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: var(--symbol-offset);
    width: 0;
    height: 1px;
    background: var(--theme-accent);
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
    width: calc(100% - var(--symbol-offset));
  }
}

strong {
  font-weight: bold;
}
