:root {
  --font-sans: 'Nunito', sans-serif;
  --font-mono: 'ServerMono', monospace;

  --color-white: hsl(0, 0%, 92%);
  --color-gray-lighter: hsl(0, 0%, 82%);
  --color-gray-light: hsl(0, 0%, 68%);
  --color-gray: hsl(0, 0%, 54%);
  --color-gray-dark: hsl(0, 0%, 28%);
  --color-gray-darker: hsl(0, 0%, 17%);
  --color-black: hsl(0, 0%, 7%);
  --color-akira-red: #e12120;

  color-scheme: light dark;
  --theme-bg: light-dark(var(--color-white), var(--color-black));
  --theme-border: light-dark(var(--color-gray-lighter), var(--color-gray-darker));

  --theme-text: light-dark(var(--color-black), var(--color-white));
  --theme-text-subtle: light-dark(var(--color-gray-darker), var(--color-gray-lighter));
  --theme-text-dim: light-dark(var(--color-gray-dark), var(--color-gray-light));

  --theme-accent: var(--color-akira-red);
  --theme-accent-light: hsl(from var(--color-akira-red) h s calc(l + 10));
  --theme-accent-dark: hsl(from var(--color-akira-red) h s calc(l - 10));
}

[data-theme='light'] {
  color-scheme: light;
}

[data-theme='dark'] {
  color-scheme: dark;
}

body {
  font-family: var(--font-sans);
  background-color: var(--theme-bg);
  color: var(--theme-text);
}

a {
  color: var(--theme-accent-light);
  text-decoration: none;
  transition: color 0.2s ease;

  &:visited {
    color: var(--theme-accent-dark);
  }

  &:hover {
    color: var(--theme-accent);
    text-decoration: underline;
  }
}

strong {
  font-weight: bold;
}
