---
import Layout from '../../layouts/Layout.astro'
import LabSign from '../../components/LabSign.astro'
import CautionTape from '../../components/CautionTape.astro'

// Get all .astro files in the lab directory (excluding index.astro)
console.log(import.meta.glob('./*.astro')['./stipple_dithering.astro'])
const labPages = Object.keys(import.meta.glob('./*.astro'))
  .filter((path) => !path.includes('index.astro'))
  .map((path) => path.replace('./', '').replace('.astro', '.html'))
---

<Layout title="the lab">
  <CautionTape position="top" direction="normal" />
  <CautionTape position="bottom" direction="reverse" />
  <main>
    <header>
      <LabSign />
    </header>
    <p>
      Welcome to the lab!<br />
      I'm a bit surpised you made it here considering that this page is unlisted.
    </p>
    <p>
      Anyways, this is my staging area for experiments and unfinished works.<br />
      Feel free to explore and see what's cooking.
    </p>
    <ul>
      {
        labPages.map((page) => (
          <li>
            <a class="list" href={`/lab/${page}`}>
              {page}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    position: relative;
    max-width: 64ch;
    margin: 0 auto;
    padding: 0 2rem;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  header {
    margin-bottom: 3rem;
  }

  p {
    text-wrap: pretty;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
