---
import Layout from '../../layouts/Layout.astro'
import LabSign from '../../components/LabSign.astro'
import CautionTape from '../../components/CautionTape.astro'
---

<Layout title="the lab">
  <main>
    <CautionTape position="top" direction="left" />
    <LabSign />
    <p class="welcome">
      Welcome to the lab! I'm a bit surpised you made it here considering that this page is unlisted. Anyways, this is my staging area for experiments and
      works-in-progress.<br />
      <br />
      Feel free to explore and see what's cooking:
    </p>
    <ul>
      <li><a href="./temp.astro">temp.astro</a></li>
    </ul>
    <CautionTape position="bottom" direction="right" />
  </main>
</Layout>

<style>
  main {
    position: relative;
    max-width: 64ch;
    margin: 0 auto;
    padding: 0 2rem;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .welcome {
    text-wrap: pretty;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
