---
import Hr from '@/components/Hr.astro'
import BlueskyIcon from '@/assets/icon_bluesky.svg'
import GithubIcon from '@/assets/icon_github.svg'
import LinkedInIcon from '@/assets/icon_linkedin.svg'
import ThreadsIcon from '@/assets/icon_threads.svg'
import TwitterIcon from '@/assets/icon_twitter.svg'
import PageNav from '@/components/PageNav.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class="container">
    <main>
      <header>
        <h1>I'm <strong>Caidan Williams</strong></h1>
        <p>a self-taught web developer and designer.</p>
      </header>
      <nav class="socials" aria-label="Social Media Links">
        <a href="https://github.com/caidanw" aria-label="GitHub Profile" target="_blank" rel="noopener">
          <GithubIcon />
        </a>
        <a href="https://bsky.app/profile/caidan.dev" aria-label="Bluesky Profile" target="_blank" rel="noopener">
          <BlueskyIcon />
        </a>
        <a href="https://twitter.com/caidanwilliams" aria-label="Twitter Profile" target="_blank" rel="noopener">
          <TwitterIcon />
        </a>
        <a href="https://threads.net/@ancientsunshine" aria-label="Threads Profile" target="_blank" rel="noopener">
          <ThreadsIcon />
        </a>
        <a href="https://linkedin.com/in/caidan-williams" aria-label="LinkedIn Profile" target="_blank" rel="noopener">
          <LinkedInIcon />
        </a>
      </nav>
      <Hr />
      <PageNav />
    </main>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
  }

  main {
    max-width: fit-content;
  }

  header {
    margin-bottom: 1.5rem;
  }

  h1 {
    font-weight: normal;
    font-size: 2rem;
    + p {
      font-size: 1.25rem;
      line-height: 1;
    }
  }

  .socials {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;

    a {
      svg {
        width: 1.5rem;
        height: 1.5rem;
        min-width: 1rem;
        fill: var(--theme-text);
        transition: fill 0.2s ease;
      }

      &:hover svg {
        fill: var(--theme-accent);
      }
    }
  }
</style>
