---
import Layout from '../layouts/Layout.astro'
import PageNav from '../components/PageNav.astro'
import GithubIcon from '../assets/icon_github.svg'
import BlueskyIcon from '../assets/icon_bluesky.svg'
import TwitterIcon from '../assets/icon_twitter.svg'
import ThreadsIcon from '../assets/icon_threads.svg'
import LinkedInIcon from '../assets/icon_linkedin.svg'
---

<Layout>
  <main>
    <header>
      <h1>I'm <strong>Caidan Williams</strong></h1>
      <p>a self-taught web developer and designer.</p>
    </header>
    <nav class="socials" aria-label="Social Media Links">
      <a href="https://github.com/caidanw" aria-label="GitHub Profile" target="_blank" rel="noopener">
        <GithubIcon />
      </a>
      <a href="https://bsky.app/profile/caidan.dev" aria-label="Bluesky Profile" target="_blank" rel="noopener">
        <BlueskyIcon />
      </a>
      <a href="https://twitter.com/caidanwilliams" aria-label="Twitter Profile" target="_blank" rel="noopener">
        <TwitterIcon />
      </a>
      <a href="https://threads.net/@ancientsunshine" aria-label="Threads Profile" target="_blank" rel="noopener">
        <ThreadsIcon />
      </a>
      <a href="https://linkedin.com/in/caidan-williams" aria-label="LinkedIn Profile" target="_blank" rel="noopener">
        <LinkedInIcon />
      </a>
    </nav>
    <hr />
    <PageNav excludeHome={true} />
  </main>
</Layout>

<style>
  main {
    max-width: fit-content;
    padding: 0 2rem;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    @media (max-width: 768px) {
      padding: 0 1.5rem;
    }
  }

  h1 {
    font-weight: normal;
    + p {
      font-size: 1.25rem;
      line-height: 1.25;
    }
  }

  .socials {
    display: flex;
    gap: 0.5rem;
    margin-left: -0.5rem;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        min-width: 1rem;
        fill: var(--theme-text);
        transition: fill 0.2s ease;
      }

      &:hover svg {
        fill: var(--theme-accent);
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid var(--theme-border);
    margin: 0.5rem 0;
    margin-right: -0.25rem;
  }
</style>
