---
import Layout from '../layouts/Layout.astro'
import GithubIcon from '../images/icon_github.svg'
import BlueskyIcon from '../images/icon_bluesky.svg'
import TwitterIcon from '../images/icon_twitter.svg'
import ThreadsIcon from '../images/icon_threads.svg'
import LinkedInIcon from '../images/icon_linkedin.svg'
---

<Layout>
  <main>
    <header>
      <h1>I'm <strong>Caidan Williams</strong></h1>
      <p>a self-taught web developer and designer.</p>
    </header>
    <nav class="socials">
      <a href="https://github.com/caidanw" aria-label="GitHub Profile" target="_blank" rel="noopener">
        <GithubIcon />
      </a>
      <a href="https://bsky.app/profile/caidan.dev" aria-label="Bluesky Profile" target="_blank" rel="noopener">
        <BlueskyIcon />
      </a>
      <a href="https://twitter.com/caidanwilliams" aria-label="Twitter Profile" target="_blank" rel="noopener">
        <TwitterIcon />
      </a>
      <a href="https://threads.net/@ancientsunshine" aria-label="Threads Profile" target="_blank" rel="noopener">
        <ThreadsIcon />
      </a>
      <a href="https://linkedin.com/in/caidan-williams" aria-label="LinkedIn Profile" target="_blank" rel="noopener">
        <LinkedInIcon />
      </a>
    </nav>
  </main>
</Layout>

<style>
  main {
    max-width: 60ch;
    padding: 3rem 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-weight: normal;
    + p {
      font-size: 1.25rem;
      line-height: 1.25;
    }
  }

  .socials {
    display: flex;
    gap: 1.25rem;
    margin-top: 1.5rem;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--theme-text);
        transition: fill 0.2s ease;
      }

      &:hover svg {
        fill: var(--theme-accent);
      }
    }
  }
</style>
