/* Import Inter Variable font
 * Source: https://fontsource.org/fonts/inter/install
 * Note: needs to come before tailwind configuration
 */

@import '@fontsource-variable/inter';

/* Configure Tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Ensure every route can use the full height of the page. */
	html,
	body {
		@apply h-full;
	}

	/* Text selection color. */
	::selection {
		@apply text-light bg-emerald-800;
	}
}
